<!doctype html>
<html ng-app="mypseudoApp">
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/messenger.css">
	<link rel="stylesheet" type="text/css" href="/static/css/messenger-theme-flat.css">
	
	<script src="/static/lib/jquery.min.js"></script>
	<script src="/static/lib/messenger.min.js"></script>

	<script src="/static/lib/angular.min.js"></script>
	<script src="/static/lib/angular-resource.min.js"></script>

	<script src="/static/lib/prettydate.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
</head>

<body>
	<div ng-view></div>
</body>


</html>
